.special_products_list_wrapper .product.slick-slide {
    padding: 0 15px;
}
a.float-md-right.all_special_products:not(:hover) {
    color: #777;
}
.special_products_list_wrapper  button.slick-arrow {
    background: transparent;
    border: none;
    font-size: 0;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    outline: none!important;
    z-index: 1;
    margin: 0 -15px;
}

.special_products_list_wrapper button.slick-arrow.slick-next {
    left: auto;
    right: 0;
}
section.special_products_list_section {
    margin-bottom: 30px;
}
.special_products_list_wrapper button.slick-arrow.slick-prev:before {
    content: "";
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 18px;
    height: 18px;
    position: absolute;
    transform: rotate(45deg);
    left: 10px;
}

.special_products_list_wrapper button.slick-arrow.slick-next:before {
    content: "";
    border-right: 1px solid #666;
    border-top: 1px solid #666;
    width: 18px;
    height: 18px;
    position: absolute;
    transform: rotate(45deg);
    right: 10px;
    left: auto;
}

.special_products_list_wrapper button.slick-arrow:hover:before{
    border-color: #24b9d7!important;
}
.special_products_list_section.left_right .products-section-title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 20px;
    text-align: left;
}
.special_products_list_section.left_right .product {
    padding: 0;
}
.special_products_list_section.left_right .special_products_list_wrapper button.slick-arrow {
    margin: 0 -25px;
}
.special_products_list_wrapper .product-miniature .highlighted-informations {
    width: 100%;
}
@media (min-width: 0px){
    .ets_specialp_mobile_1 > .product{
        width: 8.33333%;
    }
    .ets_specialp_mobile_2 > .product{
        width: 16.666%;
    }
    .ets_specialp_mobile_3 > .product{
        width: 25%;
    }
    .ets_specialp_mobile_4 > .product{
        width: 33.33%;
    }
    .ets_specialp_mobile_5 > .product{
        width: 41.66667%;
    }
    .ets_specialp_mobile_6 > .product{
        width: 50%;
    }
    .ets_specialp_mobile_7 > .product{
        width: 58.33333%;
    }
    .ets_specialp_mobile_8 > .product{
        width: 66.66667%;
    }
    .ets_specialp_mobile_9 > .product{
        width: 75%;
    }
    .ets_specialp_mobile_10 > .product{
        width: 83.33333%;
    }
    .ets_specialp_mobile_11 > .product{
        width: 91.66667%;
    }
    .ets_specialp_mobile_12 > .product{
        width: 100%;
    }
}
@media (min-width: 768px){
    .ets_specialp_tablet_1 > .product{
        width: 8.33333%;
    }
    .ets_specialp_tablet_2 > .product{
        width: 16.666%;
    }
    .ets_specialp_tablet_3 > .product{
        width: 25%;
    }
    .ets_specialp_tablet_4 > .product{
        width: 33.33%;
    }
    .ets_specialp_tablet_5 > .product{
        width: 41.66667%;
    }
    .ets_specialp_tablet_6 > .product{
        width: 50%;
    }
    .ets_specialp_tablet_7 > .product{
        width: 58.33333%;
    }
    .ets_specialp_tablet_8 > .product{
        width: 66.66667%;
    }
    .ets_specialp_tablet_9 > .product{
        width: 75%;
    }
    .ets_specialp_tablet_10 > .product{
        width: 83.33333%;
    }
    .ets_specialp_tablet_11 > .product{
        width: 91.66667%;
    }
    .ets_specialp_tablet_12 > .product{
        width: 100%;
    }
}
@media (min-width: 1200px){
    .ets_specialp_desktop_1 > .product{
        width: 8.33333%;
    }
    .ets_specialp_desktop_2 > .product{
        width: 16.666%;
    }
    .ets_specialp_desktop_3 > .product{
        width: 25%;
    }
    .ets_specialp_desktop_4 > .product{
        width: 33.33%;
    }
    .ets_specialp_desktop_5 > .product{
        width: 41.66667%;
    }
    .ets_specialp_desktop_6 > .product{
        width: 50%;
    }
    .ets_specialp_desktop_7 > .product{
        width: 58.33333%;
    }
    .ets_specialp_desktop_8 > .product{
        width: 66.66667%;
    }
    .ets_specialp_desktop_9 > .product{
        width: 75%;
    }
    .ets_specialp_desktop_10 > .product{
        width: 83.33333%;
    }
    .ets_specialp_desktop_11 > .product{
        width: 91.66667%;
    }
    .ets_specialp_desktop_12 > .product{
        width: 100%;
    }
}